<section>
    @for (card of displayedCards; track card.id) {
    <div class="card">
        <div class="card_pos">
            <img class="rel" 
                [src]="isCardFavorite(card.id) ? '/img/like.svg' : '/img/nolike.svg'" 
                (click)="toggleFavorite(card)" 
                [alt]="isCardFavorite(card.id) ? 'В избранном' : 'Добавить в избранное'">
            <div class="card_w">
                <img [src]="getProductImage(card)" [alt]="card.name">
                <h5 class="abeezee">{{ card.name }}</h5>
                <p class="abel">${{ card.price }}</p>
                <app-buutonblack></app-buutonblack>
            </div>
        </div>
    </div>
    }
</section>