<app-header></app-header>
<section class="main_info">
    
        <div class="image">
          <div class="img_flex">
              <img src="/img/i1.png" alt="">
              <img src="/img/i2.png" alt="">
              <img src="/img/i3.png" alt="">
              <img src="/img/i4.png" alt="">
          </div>
          <img src="/img/i.png" alt="">
        </div>

        <div class="text">
            <h2>Apple iPhone 14 Pro Max</h2>
            <h3>$1399</h3>
            <div class="text_info">
                <div class="char">
                    <img src="/img/mobile.svg" alt="">
                    <div>
                        <p>Screen size</p>
                        <h6>6.7"</h6>
                    </div>
                </div>
                <div class="char">
                    <img src="/img/cpu.svg" alt="">
                    <div>
                        <p>CPU</p>
                        <h6>Apple A16 <br> Bionic"</h6>
                    </div>
                </div>
                <div class="char">
                    <img src="/img/cor.svg" alt="">
                    <div>
                        <p>Number of Cores</p>
                        <h6>6"</h6>
                    </div>
                </div>
                <div class="char">
                    <img src="/img/maincam.svg" alt="">
                    <div>
                        <p>Main camera </p>
                        <h6>48-12 -12 MP</h6>
                    </div>
                </div>
                <div class="char">
                    <img src="/img/frontcam.svg" alt="">
                    <div>
                        <p>Front-camera</p>
                        <h6>12 MP</h6>
                    </div>
                </div>
                <div class="char">
                    <img src="/img/battery.svg" alt="">
                    <div>
                        <p>Battery capacity</p>
                        <h6>4323 mAh</h6>
                    </div>
                </div>
            </div>

            <p>Enhanced capabilities thanks toan enlarged display of 6.7 inchesand work without rechargingthroughout the day. Incredible photosas in weak, yesand in bright lightusing the new systemwith two cameras more...</p>

            <div class="text_button">
                <button><p>Add to Wishlist</p></button>
                <button><p>Add to Card</p></button>
            </div>

            <div class="buy_flex">
                <div class="buy">
                    <div class="border_buy">
                       <img src="/img/car.svg" alt="">
                    </div>
                    <div class="buy_text">
                        <p>Free Delivery</p>
                        <h6>1-2 day</h6>
                    </div>
                </div>
                <div class="buy">
                    <div class="border_buy">
                       <img src="/img/home.svg" alt="">
                    </div>
                    <div class="buy_text">
                        <p>In Stock</p>
                        <h6>Today</h6>
                    </div>
                </div>
                <div class="buy">
                    <div class="border_buy">
                       <img src="/img/veref.svg" alt="">
                    </div>
                    <div class="buy_text">
                        <p>Guaranteed</p>
                        <h6>1 year</h6>
                    </div>
                </div>

            </div>
        </div>
</section>

<section class="details">
    <div class="details_size">
        
            <h1>Details</h1>
            <p>Just as a book is judged by its cover, the first thing you notice when you pick up a modern smartphone is the display. Nothing surprising, because advanced technologies allow you to practically level the display frames and cutouts for the front camera and speaker, leaving no room for bold design solutions. And how good that in such realities Apple everything is fine with displays. Both critics and mass consumers always praise the quality of the picture provided by the products of the Californian brand. And last year's 6.7-inch Retina panels, which had ProMotion, caused real admiration for many.</p>
            <div class="details_block">
                <h2>Screen diagonal</h2>
                <h3>6.7"</h3>
            </div>
            <div class="details_block">
                <h2>The screen resolutions</h2>
                <h3>2796x1290</h3>
            </div>
            <div class="details_block">
                <h2>The screen refresh rates</h2>
                <h3>120 Hz</h3>
            </div>
            <div class="details_block">
                <h2>The pixel density</h2>
                <h3>460 ppi</h3>
            </div>
            <div class="details_block">
                <h2>Screen typel</h2>
                <h3>OLED</h3>
            </div>  
            <div class="details_block">
                <h2>Additionally</h2>
                <div class="details_block_h3">
                    <h3>Dynamic Island</h3>
                    <h3>Always-On display</h3>
                    <h3>HDR display</h3>
                    <h3>True Tone</h3>
                    <h3>Wide color (P3)</h3>
                </div>
            </div>
            <div class="details_block">
                <h2>CPU</h2>
                <h3>A16 Bionic</h3>
            </div>
    </div>
</section>

<section class="reit">
    <div class="reit_block">
        <h1>4.8</h1>
        <p>of 125 reviews</p>
        <div>
            <img src="/img/Star.svg" alt="">
            <img src="/img/Star.svg" alt="">
            <img src="/img/Star.svg" alt="">
            <img src="/img/Star.svg" alt="">
            <img src="/img/Star2.svg" alt="">
        </div>
    </div>

</section>

<section class="related">
    <p>Related Products</p>
    <app-cardsale></app-cardsale>
</section>














<app-footer></app-footer>