<footer class="footer">
    
    <div class="footer_flex">
        <div class="footer_logo">
            <img src="/img/logofooter.svg" alt="logo">
            <p>We are a residential interior design firm located in Portland. Our boutique-studio offers more than</p>
        </div>
        <div class="footer_inf">
            <h5>Services</h5>
            <p>Bonus program</p>
            <p>Gift cards</p>
            <p>Credit and payment</p>
            <p>Service contracts</p>
            <p>Non-cash account</p>
            <p>Payment</p>
        </div>
        <div class="footer_inf_two">
            <h5>Assistance to the buyer</h5>
            <p>Find an order</p>
            <p>Terms of delivery</p>
            <p>Exchange and return of goods</p>
            <p>Guarantee</p>
            <p>Frequently asked questions</p>
            <p>Terms of use of the site</p>
        </div>
    </div>
    <div class="social">
        <img src="/img/twitter.svg" alt="twitter">
        <img src="/img/facebook.svg" alt="facebook">
        <img src="/img/tiktok.svg" alt="tiktok">
        <img src="/img/instagram.svg" alt="instagram">
    </div>
   
</footer>