<header class="header">
  <div class="container">
    <a href="">
      <img routerLink="/" src="/img/logo.svg" alt="" />
    </a>

    <div class="wrapper">
      <img src="/img/search.svg" alt="" />
      <input type="text" placeholder="Search" />
    </div>

    <div class="header_a">
      <a [routerLink]="['/forever']">
        <img src="/img/hearch.svg" alt="" />
      </a>
      <a [routerLink]="['/shopping']">
        <img src="/img/shop.svg" alt="" />
      </a>
      
    </div>
  </div>
</header>
