.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px; 
}

header {
    border-bottom: 1px solid rgba(181, 181, 181, 1);
}


.header_a {
    display: flex;
    align-items: center;
    gap: 30px;
}

.wrapper {
    padding: 16px;
    height: 56px;
    width: 372px;
    background: rgba(245, 245, 245, 1);
    border-radius: 8px;
    align-items: center;
    display: flex;
    gap: 8px;
    input{
        background: transparent;
        border: none;
        outline: none;
        width: 100%;
    }
}
