.favorites {
  min-height: 428px;
  width: 349px;
  display: flex;
  flex-direction: column;
  padding-top: 112px;
  margin: 0 auto;
  p{
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    padding-bottom: 40px;
  }
  
}