button {
    height: 56px;
    width: 188px;
    background: none;
    border: 1px solid white;
    border-radius: 6px;
    margin-top: 40px;
    
}
button:hover{
    background: rgba(0, 0, 0, 0.459);
}
button p {
    color: white;
    font-style: italic;
}

@media (max-width: 1125px){
     button{
    p{
      font-style: normal;
    }
}
}