<app-header> </app-header>
<app-first></app-first>
<app-banners></app-banners>

<section class="card">
  <div class="card_w">
    <div class="card_category">
      <p class="abeezee">New Arrival</p>
      <p class="abeezee">Bestseller</p>
      <p class="abeezee">Featured Products</p>
    </div>
    <div class="card_flex">
      <app-card></app-card>
    </div>
  </div>
</section>

<app-popularproduct></app-popularproduct>

<section class="card_sale">
  <div class="card_w">
    <div class="card_category_sale">
      <p class="abeezee">Discounts up to -50%</p>
    </div>
    <div class="card_flex_sale">
      <app-cardsale></app-cardsale>
    </div>
  </div>
</section>

<app-summersale></app-summersale>
<app-footer></app-footer>