* {
  font-weight: 400;
  font-style: italic;
}

button {
  transition: 0.3s;
  cursor: pointer;
}




// СЕКЦИАЯ С КАРТОЧКАМИ ЭПЛ ТЕХНИК

.card {
  max-width: 1120px;
  padding-top: 56px;
  padding-bottom: 56px;
  margin: 0 auto;
}


.card_category {
  display: flex;
  padding-top: 56px;
  padding-bottom: 32px;
  gap: 32px;
  p{
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
  }
}


@media (max-width: 1125px) {
  .card_category{
    justify-content: center;
    p{
      font-style: normal;
    }
  }
}

// СЕКЦИЯ КОМПОНЕНТ ГАДЖЕТОВ

.card_sale {
  max-width: 1120px;
  padding-top: 56px;
  padding-bottom: 56px;
  margin: 0 auto;
}


.card_category_sale {
  display: flex;
  padding-top: 56px;
  padding-bottom: 32px;
  gap: 32px;
  p{
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
  }
}


@media (max-width: 1125px) {
  .card_category_sale{
    justify-content: center;
    p{
      font-style: normal;
    }
  }
}


@media (max-width: 1125px) {
  .card_category_sale{
    justify-content: center;
    p{
      font-style: normal;
    }
  }
}
// СЕКЦИЯ КОМПОНЕНТ ГАДЖЕТОВ ПО СКИДКЕ




// ЛЕТНЯЯ СКИДКА

