<app-header> </app-header>

<section class="first">
  <div class="first_txt">
    <h1 class="abeezee">Pro.Beyond.</h1>
    <h2 class="abel">IPhone 14 Pro</h2>
    <p class="abeezee"> Created to change everything for the better. For everyone</p>
    <button>
      <p class="abeezee">Shop Now</p>
    </button>
  </div>
  
  <img src="/img/bigiphone.png" alt="">
  
  
</section>

<section class="apple_card">
  <div class="apple_card_mini">
    <div class="ps5">
      <img src="/img/ps5.png" alt="">
      <div class="ps5_txt">
        <h4 class="abeezee">Playstation 5</h4>
        <p class="abeezee">Incredibly powerful CPUs, GPUs, and an SSD with integrated I/O will redefine your PlayStation experience.</p>
      </div>
    </div>
    <div class="apple_card_mini_mini">
      <div class="airpodsmax">
        <img src="/img/airpodsmax.png" alt="">
        <div class="airpodsmax_txt">
          <h4 class="abeezee">Apple AirPods Max</h4>
          <p class="abeezee">Computational audio. Listen, it's powerful</p>
        </div>
      </div>
      <div class="applevision">
        <img src="/img/apllevisionpro.png" alt="">
        <div class="apllevision_txt">
          <h4 class="abeezee">Apple Vision Pro</h4>
          <p class="abeezee">An immersive way to experience entertainment</p>
        </div>
      </div>
    </div>
  </div>
  <div class="macbook14"> 
    <div class="macbook14_txt">
      <img src="/img/macbook14.png" alt="">
      <h4 class="abel">Macbook Air</h4>
      <p class="abeezee">The new 15‑inch MacBook Air makes room for more of what you love with a spacious Liquid Retina display.</p>
      <button>
        <p class="abeezee">Shop Now</p>
      </button>
    </div>
  </div>
</section>

<section class="summer_sale">
  <div class="summer_sale_txt">
    <h4 class="abel">Big Summer Sale</h4>
    <p class="abel">Commodo fames vitae vitae leo mauris in. Eu consequat.</p>
    <button>
      <p class="abeezee">Shop Now</p>
    </button>  
  </div>
  <img src="/img/image5.png" alt="1">
  <img src="/img/image4.png" alt="2">
  <img src="/img/image3.png" alt="3">
  <img src="/img/image2.png" alt="2">
  <img src="/img/image1.png" alt="5">
</section>

<app-footer></app-footer>