<section class="flex">
    <div class="card">
        <img src="/img/wathhaitph.png" alt="">
        <div class="block">
            <h5 class="abeezee">Popular Products</h5>
            <p class="abeezee">iPad combines a magnificent 10.2-inch Retina display, incredible performance, multitasking and ease of use.</p>
            <app-buttoninvert></app-buttoninvert>
        </div>

    </div>
    <div class="card">
        <img src="/img/ipad.png" alt="">
        <div class="block">
            <h5 class="abeezee">Popular Products</h5>
            <p class="abeezee">iPad combines a magnificent 10.2-inch Retina display, incredible performance, multitasking and ease of use.</p>
            <app-buttoninvert></app-buttoninvert>
        </div>
    </div>
    <div class="card">
        <img src="/img/samsung.png" alt="">
        <div class="block">
            <h5 class="abeezee">Popular Products</h5>
            <p class="abeezee">iPad combines a magnificent 10.2-inch Retina display, incredible performance, multitasking and ease of use.</p>
            <app-buttoninvert></app-buttoninvert>
        </div>
    </div>
    <div class="card">
        <img src="/img/macpro.png" alt="">
        <div class="block">
            <h5 class="abeezee">Popular Products</h5>
            <p class="abeezee">iPad combines a magnificent 10.2-inch Retina display, incredible performance, multitasking and ease of use.</p>
            <app-button></app-button>
        </div>
    </div>
</section>