<app-header></app-header>
<section>
    <div>


    </div>
    <div class="order">
        <h2>Order Summary</h2>
        <div>
            <form>
                <div class="form_page">
                    <label for="">Discount code / Promo code</label>
                    <div class="border">
                        <input placeholder="Code" type="text">
                    </div>
                </div>
                <div class="form_page">
                    <label for="">Your bonus card number</label>
                    <div class="border">
                       <input placeholder="Enter Card Number" type="text"> 
                       <button><p>Apply</p></button>
                    </div>
                </div>
            </form>
            <div class="text_flex">
                <h2>Subtotal</h2>
                <h2>$2347</h2>
            </div>
            <div>
                <p>Estimated Tax</p>
                <h2>$50</h2>
            </div>
            <div>
                <p>Estimated shipping & Handling</p>
                <h2>$29</h2>
            </div>
            <div>
                <h2>Total</h2>
                <h2>$2426</h2>
            </div>
        </div>

    </div>
</section>
<app-footer></app-footer>