<app-header></app-header>
<section>
    <div>


    </div>
    <div class="order">
        <h2>Order Summary</h2>
        <div>
            <form>
                <div class="form_page">
                    <label for="">Discount code / Promo code</label>
                    <div class="border">
                        <input placeholder="Code" type="text">
                    </div>
                </div>
                <div class="form_page">
                    <label for="">Your bonus card number</label>
                    <div class="border">
                       <input placeholder="Enter Card Number" type="text"> 
                       <button><p>Apply</p></button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</section>
<app-footer></app-footer>